---
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/Base';
import PostPreview from '@/components/blog/PostPreview';
import { sortMDByDate } from '@/utils';

const MAX_POSTS = 25;
const allPosts = await getCollection('post');
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: 'Home' }}>
	<section aria-label="Blog post list">
		<h1 class="title mb-6">Posts</h1>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
